body {
    background: linear-gradient(to bottom, #3949ab, #6f74dd);
    color: #fff;
    margin: 20px;
}

.container {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    width: 400px;
    margin: 0 auto;
}

h1 {
    text-align: center;
}

.btn-primary {
    background-color: #292b8d;
    border-color: #292b8d;
}

/* Style modal */
.modal-content {
    background: linear-gradient(to bottom, #3949ab, #6f74dd);
    border: 1px solid #3949ab;
    color: #fff;
}

.modal-header {
    border-bottom: 1px solid #3949ab;
}

.modal-title {
    color: #fff;
}

.modal-body {
    color: #fff;
}

.modal-footer {
    border-top: 1px solid #3949ab;
}

.modal-dialog {
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid #3949ab;
}
